*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
body{
    background-color: white;
}
.common-btn{
    background-color: #3b5bdb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-logo-text{
    margin: 0%;
    padding: 0%;
}
.header-logo-text h2{
    margin: 0%;
}
.header-logo-text h3{
    margin: 0%;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 35px;
    cursor: pointer;
}


nav button{
    padding: 12px 24px;
    background-color: #3b5bdb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
/* NEVBAR-END */
/* BANNER/HERO-SECTION-START */
.hero-container{
    background: linear-gradient(rgba(0,0,0,0.07), rgba(0,0,0,0.07)), url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
     
      
}
.hero-h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-bottom: 10px;
}
.hero-p{
    color: white;
    text-align: center;
    max-width: 700px;
    margin-top: 0;
}
.hero-button{
    
    padding: 12px 24px;
    background-color: #3b5bdb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin-top: 190px;  
}
/* BANNER/HERO-SECTION-END */

/* SPEAKERS-SECTION-START */
.speakers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1px;
    max-width: 1150px;
    margin: 3px auto;
    
}
.speakers-section{
    
    
}
.speakers-section h2{
    font-size: 50px;
    
    text-align: center;
    padding-top: 50px;
    margin: 0%;
}

.speakers-div{
    border: 1px solid rgba(88, 88, 88, 0.507);
    border-radius: 6px;
    overflow: hidden;
    margin: 60px 40px;
}
.speakers-div img{
    height: 210px;
    width: 100%;
    object-fit: cover;
}
.speakers-p{
    color: #2563EB;
    text-transform: uppercase;
    font-size: 10px;
}
.speakers-1{
    font-size: 1%;
}

/* SPEAKERS-SECTION-END */


/* PRICING-SECTION-START */
.pricing-heading{
    margin-bottom: 50px;
    margin-top: 60px;
    text-align: center;
}
.pricing-heading-p{
    font-size: 15px;
    color: gray;
}
.pricing-heading-h2{
    font-size: 43px;
}
.pricing-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.pricing-columns{
    width: 230px;
    padding: 17px;
    border: 1px solid rgb(96, 95, 95);
    border-radius: 11px;
    height: 300px;
}
.pricing-columns-mid{
    width: 230px;
    padding: 17px;
    border: 1px solid rgb(96, 95, 95);
    border-radius: 11px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.982);
    color: rgb(236, 226, 226);
    font-family: initial;
    
}
.pricing-columns ul{
    margin: 20px 0;
    padding-left: 10px;
}
.pricing-columns li{
    margin-bottom: 6px;
    line-height: 18px;
    font-family: initial;
}
.pricing-p{
    font-size: 11px;
    color: gray;
}
.pricing-h3{
    font-size: 36px;
    margin: 5px 0;
}
.pricing-p-2nd{
    color: gray;
    margin-bottom: 16px;
    font-size: 11px;
}
.pricing-button{
    padding: 12px 24px;
    background-color: white;
    color: #3b5bdb;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #3b5bdb;
    width: 220px;
    align-items: center;
}
.pricing-button-mid{
    padding: 12px 24px;
    background-color: #3b5bdb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    width: 220px;
    align-items: center;
    margin-top: 48px;
}
/* PRICING-SECTION-END */

/* SECTION-WITH-AI-START */
.hackathon{
    background-color: rgb(253, 249, 249);
    border-radius: 10px;
    
}
.hackathon-container{
    width: 85%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.hackathon-header{
    margin-bottom: 50px;
    margin-top: 60px;
    text-align: center;
}
.hackathon-header h2{
    font-size: 40px;
    font-family: serif;

}
.hackathon-header p{
    color: gray;
    font-family: cursive;
    font-size: 13px;
}
.hackathon-columns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
    font-family: Trebuchet MS;
    
    border-radius: 11px;
}
.hackathon-card{
    height: ;
    width: ;
    padding: 10px;
}
.button-withAI{
    padding: 12px 24px;
    background-color: #3b5bdb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    width: 200px;
    margin-top: 35px;
}
/* SECTION-WITH-AI-END */