*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
body{
    background-color: white;
}
.common-btn{
    background-color: #3b5bdb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-logo-text{
    margin: 0%;
    padding: 0%;
}
.header-logo-text h2{
    margin: 0%;
}
.header-logo-text h3{
    margin: 0%;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 35px;
    cursor: pointer;
}


nav button{
    padding: 12px 24px;
    background-color: #3b5bdb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
/* NEVBAR-END */
/* BANNER/HERO-SECTION-START */
.hero-container{
    background: linear-gradient(rgba(0,0,0,0.07), rgba(0,0,0,0.07)), url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
     
      
}
.hero-h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-bottom: 10px;
}
.hero-p{
    color: white;
    text-align: center;
    max-width: 700px;
    margin-top: 0;
}
.hero-button{
    
    padding: 12px 24px;
    background-color: #3b5bdb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin-top: 190px;  
}
/* BANNER/HERO-SECTION-END */

/* SPEAKERS-SECTION-START */
.speakers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1px;
    max-width: 1150px;
    margin: 3px auto;
    
}
.speakers-section{
    
    
}
.speakers-section h2{
    font-size: 50px;
    
    text-align: center;
    padding-top: 50px;
    margin: 0%;
}
.all-div{
    border: 1px solid rgba(88, 88, 88, 0.507);
}
.speakers-div{
    border: 1px solid rgba(88, 88, 88, 0.507);
    border-radius: 6px;
    overflow: hidden;
    margin: 60px 40px;
}
.speakers-div img{
    height: 210px;
    width: 100%;
    object-fit: cover;
}
.speakers-p{
    color: #2563EB;
    text-transform: uppercase;
    font-size: 10px;
}
.speakers-1{
    font-size: 1%;
}

/* SPEAKERS-SECTION-END */